{% extends "base.html" %}

{% block content %}


<!-- title and body content start -->

<h2>{{ en_article.title }}</h2>
<p>{{ en_article.body }}</p>

<p>{{ en_article.likes }} People liked this article</p>
<p><a href="/en_articles/en_like/{{en_article.id}}">Like</a></p>
<!-- finish title and body box-->



<!-- start first comment box-->

<div style="float:left; width:300px;">

<h2>Like Comment</h2>
{% for c in en_article.comment_set.all %}
<p>{{c.first_name}} : {{c.body|lower|truncatechars:140}} 
<a href="/en_articles/en_delete_comment/{{c.id}}">Delete</a>
</p>
{% endfor %}

<p><a href="/en_articles/en_add_comment/{{en_article.id}}">Add Comment</a></p>

</div>


<!-- finish first comment box-->



<!-- start second comment box-->


<div style="float:right; width:300px;">

<h2>UNLIKE Comment </h2>
{% for p_cs in en_article.commentsecond_set.all %}
<p>{{p_cs.first_name}}: {{p_cs.body|lower|truncatechars:140}} 
<a href="/en_articles/en_delete_commentsecond/{{en_cs.id}}">Delete</a>
</p>
{% endfor %}

<p><a href="/en_articles/en_add_commentsecond/{{en_article.id}}">Add Comment</a></p>

</div>



<!-- finish  second comment box-->


{% endblock %}

